# Entorno virtual
.venv/
venv/

# Caché de Python
__pycache__/
*.pyc

# Variables de entorno
.env

# Bases de datos locales
*.db
*.sqlite
*.sqlite3

# Logs
log/
*.log

# Archivos temporales
*.tmp
*.bak

# IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db